@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 300; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXNis.woff) format("woff"); }

@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 400; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNis.woff) format("woff"); }

@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 500; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXNis.woff) format("woff"); }

@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 600; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQNis.woff) format("woff"); }

@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 700; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K67QNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K67QNis.woff) format("woff"); }

@font-face { font-family: "GE SS Two"; font-style: normal; font-weight: 300; src: url(../fonts/GESSTwoLight-Light.woff); }

@font-face { font-family: "Helvetica Neue"; font-style: normal; font-weight: 300; src: url("../fonts/HelveticaNeue Light.ttf"); }

@font-face { font-family: "Helvetica Neue"; font-style: normal; src: url("../fonts/HelveticaNeue Medium.ttf"); }

@font-face { font-family: "Helvetica Neue"; font-style: normal; font-weight: 700; src: url("../fonts/Helvetica Neu Bold.ttf"); }

.content-title { font-size: 2.5rem; font-weight: 600; line-height: 2.9375rem; padding-top: 2.75rem; padding-bottom: 2.1875rem; }

.fixed-bg { background-attachment: fixed; }

.lama-bg { background-image: url("../images/LAMA/Lama-main-bg.png"); height: 31.875rem; background-repeat: no-repeat; background-size: cover; }

.lama-main-p { overflow: hidden; font-size: 1.875rem; font-weight: 400; line-height: 2.1875rem; max-height: 8.75rem; margin-top: 2.75rem; margin-bottom: 3.75rem; }

#aboutLamaToggle { font-size: 1.125rem; font-weight: 500; line-height: 1.3125rem; color: #365029; padding: 0.625rem 0; display: block; }

#aboutLamaToggle * { -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

#aboutLamaToggle i { color: #bd9d7e; margin-left: 1.5625rem; }

#aboutLamaToggle.expanded span { display: none; }

#aboutLamaToggle.expanded i { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }

.lama-map { margin-bottom: 2rem; }

.lama-map img { width: 100%; }

#aboutLama { overflow: hidden; display: none; }

#aboutLama .lama-about-p { font-size: 1.25rem; line-height: 1.6875rem; color: #365029; margin-bottom: 2.5rem; }

.places { background-color: #f8f5f2; padding: 2.25rem; padding-bottom: 1.5625rem; margin-bottom: 2rem; }

.places .place { padding: 0 1.0625rem; }

.places .place h3 { font-size: 1.75rem; color: #365029; line-height: 1.6875rem; font-weight: 600; margin-bottom: 1.6875rem; }

.places .place p { font-size: 1.25rem; line-height: 1.6875rem; color: #365029; font-weight: 400; }

#FAQ { background-color: #decebe; padding-top: 3.375rem; padding-bottom: 13.75rem; }

#FAQ header { font-size: 2.5rem; line-height: 2.9375rem; color: #365029; font-weight: 600; margin-bottom: 1.125rem; }

.q-item { margin-bottom: 1.625rem; }

.q-item .quesion-header a { font-family: "Helvetica Neue"; font-weight: 700; text-transform: uppercase; font-size: 1.5rem; display: block; position: relative; }

.q-item .quesion-header a .more-icon { width: 2rem; height: 2rem; display: inline-block; background-image: url("../images/LAMA/minus-icon.svg"); background-position: center; background-size: contain; background-repeat: no-repeat; position: absolute; right: 0; top: 0; }

.q-item .quesion-header a.collapsed .more-icon { background-image: url("../images/LAMA/plus-icon.svg"); }

.q-item .answer p { font-family: "Helvetica Neue"; font-size: 1rem; line-height: 1.5625rem; }

.contact .contact-card { padding: 2.25rem 6.25rem 2.5rem; background-color: #365029; position: relative; top: -7.5rem; }

.contact .contact-card .title { color: #bd9d7e; font-size: 1.5rem; line-height: 1.75rem; text-align: center; font-weight: 600; margin-bottom: 1.25rem; }

.contact .contact-card .main-label { color: #fff; font-size: 3rem; line-height: 3.5625rem; text-align: center; font-weight: 600; margin-bottom: 0.4375rem; }

.contact .contact-card p { color: #bd9d7e; font-size: 1.25rem; line-height: 1.6875rem; text-align: center; font-weight: 400; margin-bottom: 1.6875rem; }

.contact .contact-card .email { color: #fff; font-size: 1.5rem; white-space: nowrap; line-height: 3.5625rem; }

.contact .contact-card .email i { font-size: 2rem; color: #bd9d7e; margin-right: 1.625rem; vertical-align: text-bottom; }

.contact .contact-card .email a { color: inherit; font-weight: 600; font-size: inherit; }

.contact .contact-card .phone { color: #fff; font-size: 3rem; white-space: nowrap; line-height: 3.5625rem; }

.contact .contact-card .phone a { color: inherit; font-weight: 600; font-size: inherit; }

.contact .contact-card .phone img { margin-right: 1rem; }
