@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 300; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXNis.woff) format("woff"); }

@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 400; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNis.woff) format("woff"); }

@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 500; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXNis.woff) format("woff"); }

@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 600; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQNis.woff) format("woff"); }

@font-face { font-family: "Work Sans"; font-style: normal; font-weight: 700; font-display: swap; src: url(../fonts/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K67QNis.woff), url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K67QNis.woff) format("woff"); }

@font-face { font-family: "GE SS Two"; font-style: normal; font-weight: 300; src: url(../fonts/GESSTwoLight-Light.woff); }

body.inner { min-height: 100vh; }

body.inner .inner-content .aside { background-color: #DECEBE; }

body.inner .inner-content .aside li { border-bottom: 1px #bd9d7e solid; }

body.inner .inner-content .media-content .media-links .media-item { min-height: 190px; position: relative; overflow: hidden; }

body.inner .inner-content .media-content .media-links .media-item:before { content: ""; position: absolute; z-index: -1; top: 50%; left: -35px; background: whitesmoke; height: 100%; width: 32px; border-radius: 32px; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transition: -webkit-transform 0.25s ease-out; transition: -webkit-transform 0.25s ease-out; -o-transition: transform 0.25s ease-out; transition: transform 0.25s ease-out; transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }

body.inner .inner-content .media-content .media-links .media-item:hover:before { -webkit-transform: scale(35); -ms-transform: scale(35); transform: scale(35); }

body.inner .inner-content .media-content .media-links .media-item .arrow { position: relative; left: 0; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

body.inner .inner-content .media-content .media-links .media-item:hover .arrow { margin-right: -10px; }
