@import "settings";
// Fonts
$Helvetica: "Helvetica Neue";
@font-face {
  font-family: $Helvetica;
  font-style: normal;
  font-weight: $lightW;
  src: url("../fonts/HelveticaNeue Light.ttf");
}
// default weight
@font-face {
  font-family: $Helvetica;
  font-style: normal;
  src: url("../fonts/HelveticaNeue Medium.ttf");
}
@font-face {
  font-family: $Helvetica;
  font-style: normal;
  font-weight: $boldW;
  src: url("../fonts/Helvetica Neu Bold.ttf");
}
.content-title {
  font-size: rems(40);
  font-weight: $simiboldW;
  line-height: rems(47);
  padding-top: rems(44);
  padding-bottom: rems(35);
}

.fixed-bg {
  background-attachment: fixed;
}
.lama-bg {
  background-image: url("../images/LAMA/Lama-main-bg.png");
  height: rems(510);
  background-repeat: no-repeat;
  background-size: cover;
}

.lama-main-p {
  overflow: hidden;
  font-size: rems(30);
  font-weight: $regularW;
  line-height: rems(35);
  // max height is 4 lines
  max-height: rems(35 * 4);
  margin-top: rems(44);
  margin-bottom: rems(60);
}
#aboutLamaToggle {
  font-size: rems(18);
  font-weight: $mediumW;
  line-height: rems(21);
  color: $green;
  padding: rems(10) 0;
  display: block;
  * {
    @include trans(0.3s);
  }

  i {
    color: $lightBrown;
    margin-left: rems(25);
  }
  &.expanded {
    span {
      display: none;
    }
    i {
      transform: rotateX(180deg);
    }
  }
}
.lama-map {
  margin-bottom: rems(32);
  img {
    width: 100%;
  }
}
#aboutLama {
  overflow: hidden;
  display: none;
  .lama-about-p {
    font-size: rems(20);
    line-height: rems(27);
    color: $green;
    margin-bottom: rems(40);
  }
}
.places {
  background-color: #f8f5f2;
  padding: rems(36);
  padding-bottom: rems(25);
  margin-bottom: rems(32);
  .place {
    padding: 0 rems(17);
    h3 {
      font-size: rems(28);
      color: $green;
      line-height: rems(27);
      font-weight: $simiboldW;
      margin-bottom: rems(27);
    }
    p {
      font-size: rems(20);
      line-height: rems(27);
      color: $green;
      font-weight: $regularW;
    }
  }
}

#FAQ {
  background-color: #decebe;
  padding-top: rems(54);
  padding-bottom: rems(220);
  header {
    font-size: rems(40);
    line-height: rems(47);
    color: $green;
    font-weight: $simiboldW;
    margin-bottom: rems(18);
  }
}
.q-item {
  margin-bottom: rems(26);
  .quesion-header {
    a {
      font-family: $Helvetica;
      font-weight: $boldW;
      text-transform: uppercase;
      font-size: rems(24);
      display: block;
      position: relative;
      .more-icon {
        width: rems(32);
        height: rems(32);
        display: inline-block;
        background-image: url("../images/LAMA/minus-icon.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
      }
      &.collapsed {
        .more-icon {
          background-image: url("../images/LAMA/plus-icon.svg");
        }
      }
    }
  }
  .answer {
    p {
      font-family: $Helvetica;
      font-size: rems(16);
      line-height: rems(25);
    }
  }
}

.contact {
  .contact-card {
    padding: rems(36) rems(100) rems(40);
    background-color: $green;
    position: relative;
    top: rems(-120);
    .title {
      color: $lightBrown;
      font-size: rems(24);
      line-height: rems(28);
      text-align: center;
      font-weight: $simiboldW;
      margin-bottom: rems(20);
    }
    .main-label {
      color: $white;
      font-size: rems(48);
      line-height: rems(57);
      text-align: center;
      font-weight: $simiboldW;
      margin-bottom: rems(7);
    }
    p {
      color: $lightBrown;
      font-size: rems(20);
      line-height: rems(27);
      text-align: center;
      font-weight: $regularW;
      margin-bottom: rems(27);
    }
    .email {
      color: $white;
      font-size: rems(24);
      white-space: nowrap;
      line-height: rems(57);
      i {
        font-size: rems(32);
        color: $lightBrown;
        margin-right: rems(26);
        vertical-align: text-bottom;
      }
      a {
        color: inherit;
        font-weight: $simiboldW;
        font-size: inherit;
      }
    }
    .phone {
      color: $white;
      font-size: rems(48);
      white-space: nowrap;
      line-height: rems(57);
      a {
        color: inherit;
        font-weight: $simiboldW;
        font-size: inherit;
      }
      img {
        margin-right: rems(16);
      }
    }
  }
}
