@import "settings";
// Fonts
$Helvetica: "Helvetica Neue";
@font-face {
  font-family: $Helvetica;
  font-style: normal;
  font-weight: $lightW;
  src: url("../fonts/HelveticaNeue Light.ttf");
}
// default weight
@font-face {
  font-family: $Helvetica;
  font-style: normal;
  src: url("../fonts/HelveticaNeue Medium.ttf");
}
@font-face {
  font-family: $Helvetica;
  font-style: normal;
  font-weight: $boldW;
  src: url("../fonts/Helvetica Neu Bold.ttf");
}
.content-title {
  font-size: rems(40);
  font-weight: $simiboldW;
  line-height: rems(47);
  padding-top: rems(44);
  padding-bottom: rems(35);
}

.fixed-bg {
  background-attachment: fixed;
}
.lama-bg {
  background-image: url("../images/LAMA/Lama-main-bg.png");
  height: rems(510);
  background-repeat: no-repeat;
  background-size: cover;
}

.lama-main-p {
  overflow: hidden;
  font-size: rems(30);
  font-weight: $regularW;
  line-height: rems(35);
  // max height is 4 lines
  max-height: rems(35 * 4);
  margin-top: rems(44);
  margin-bottom: rems(60);
}
#aboutLamaToggle {
  font-size: rems(18);
  font-weight: $mediumW;
  line-height: rems(21);
  color: $green;
  padding: rems(10) 0;
  display: block;
  * {
    @include trans(0.3s);
  }

  i {
    color: $lightBrown;
    margin-left: rems(25);
  }
  &.expanded {
    span {
      display: none;
    }
    i {
      transform: rotateX(180deg);
    }
  }
}
.lama-map {
  margin-bottom: rems(32);
  img {
    width: 100%;
  }
}
#aboutLama {
  overflow: hidden;
  display: none;
  .lama-about-p {
    font-size: rems(20);
    line-height: rems(27);
    color: $green;
    margin-bottom: rems(40);
  }
}
.places {
  background-color: #f8f5f2;
  padding: rems(36);
  padding-bottom: rems(25);
  margin-bottom: rems(32);
  .place {
    padding: 0 rems(17);
    h3 {
      font-size: rems(28);
      color: $green;
      line-height: rems(27);
      font-weight: $simiboldW;
      margin-bottom: rems(27);
    }
    p {
      font-size: rems(20);
      line-height: rems(27);
      color: $green;
      font-weight: $regularW;
    }
  }
}

#FAQ {
  background-color: #decebe;
  padding-top: rems(54);
  padding-bottom: rems(220);
  header {
    font-size: rems(40);
    line-height: rems(47);
    color: $green;
    font-weight: $simiboldW;
    margin-bottom: rems(18);
  }
}
.q-item {
  margin-bottom: rems(26);
  .quesion-header {
    a {
      font-family: $Helvetica;
      font-weight: $boldW;
      text-transform: uppercase;
      font-size: rems(24);
      display: block;
      position: relative;
      .more-icon {
        width: rems(32);
        height: rems(32);
        display: inline-block;
        background-image: url("../images/LAMA/minus-icon.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
      }
      &.collapsed {
        .more-icon {
          background-image: url("../images/LAMA/plus-icon.svg");
        }
      }
    }
  }
  .answer {
    p {
      font-family: $Helvetica;
      font-size: rems(16);
      line-height: rems(25);
    }
  }
}

.contact {
  .contact-card {
    padding: rems(36) rems(100) rems(40);
    background-color: $green;
    position: relative;
    top: rems(-120);
    .title {
      color: $lightBrown;
      font-size: rems(24);
      line-height: rems(28);
      text-align: center;
      font-weight: $simiboldW;
      margin-bottom: rems(20);
    }
    .main-label {
      color: $white;
      font-size: rems(48);
      line-height: rems(57);
      text-align: center;
      font-weight: $simiboldW;
      margin-bottom: rems(7);
    }
    p {
      color: $lightBrown;
      font-size: rems(20);
      line-height: rems(27);
      text-align: center;
      font-weight: $regularW;
      margin-bottom: rems(27);
    }
    .email {
      color: $white;
      font-size: rems(24);
      white-space: nowrap;
      line-height: rems(57);
      i {
        font-size: rems(32);
        color: $lightBrown;
        margin-right: rems(26);
        vertical-align: text-bottom;
      }
      a {
        color: inherit;
        font-weight: $simiboldW;
        font-size: inherit;
      }
    }
    .phone {
      color: $white;
      font-size: rems(48);
      white-space: nowrap;
      line-height: rems(57);
      a {
        color: inherit;
        font-weight: $simiboldW;
        font-size: inherit;
      }
      img {
        margin-right: rems(16);
      }
    }
  }
}

p.default {
  font-size: rems(20);
  font-weight: $simiboldW;
  line-height: rems(27);
  margin-top: rems(48);
  margin-bottom: rems(54);
}
section.services {
  h2.title {
    font-size: rems(40);
    font-weight: $simiboldW;
    line-height: rems(47);
    margin-bottom: rems(28);
  }
  .nav-services {
    .nav-item {
      .nav-link {
        display: block;
        padding: 0;
        padding-bottom: rems(19);
        .box-link {
          border: 3px solid $green;
          color: $green;
          font-weight: $boldW;
          font-size: rems(22);
          line-height: rems(25);
          padding: rems(26) 0 rems(17) rems(24);
          text-transform: uppercase;
          height: rems(26 + 24 + (25 * 2));
          overflow: hidden;
        }
        &.active {
          background-color: $green;
          .box-link {
            color: $white;
          }
        }
      }
    }
  }
  #service-tabContent {
    background-color: $green;
    > .tab-pane {
      background-color: $green;
      padding: rems(40) rems(32);
      .s-tab-p {
        color: $lightBrown;
        font-family: $Helvetica;
        font-weight: $lightW;
        font-size: rems(26);
        line-height: rems(32);
        margin-bottom: rems(40);
      }
    }
  }
  .service-inner-tab {
    margin-bottom: rems(15);
    .nav-item {
      .nav-link {
        font-family: $Helvetica;
        font-weight: $boldW;
        font-size: rems(22);
        color: $white;
        padding-top: rems(25);
        padding-bottom: rems(22);
        text-align: center;
        border: 3px solid $lightBrown;
        &.active {
          background-color: $white;
          border-color: $white;
          color: $green;
        }
      }
    }
  }
  .service-inner-tabContent {
    background-color: $white;
    .tab-pane {
      background-color: $white;
      font-family: $Helvetica;
      padding: rems(40) rems(32);
      > h3 {
        font-size: rems(28);
        font-weight: $mediumW;
        margin-bottom: rems(23);
        color: $green;
      }
      > p {
        font-size: rems(16);
        font-weight: $lightW;
        line-height: rems(25);
        margin-bottom: rems(25);
        color: $green;
      }
      .img-box {
        overflow: hidden;
        border-radius: rems(8);
        height: 100%;
        img {
          min-width: 100%;
          min-height: 100%;
        }
      }
      .content-box {
        .download {
          color: $green;
          font-size: rems(16);
          line-height: rems(25);
          h4 {
            font-size: rems(18);
            font-weight: $boldW;
            margin-top: rems(20);
            a {
              margin-left: rems(30);
              vertical-align: text-bottom;
            }
          }
        }
        .info-session-p {
          font-size: rems(16);
          line-height: rems(25);
          color: $green;
          margin-top: rems(170);
          margin-bottom: rems(50);
        }
        .book-btn {
          display: block;
          font-size: rems(24);
          color: $green;
          padding-top: rems(18);
          padding-bottom: rems(14);
          text-align: center;
          background-color: $white;
          border: 3px solid $lightBrown;
          margin-top: rems(46);
          @include trans(0.3s);
          &:hover {
            background-color: $lightBrown;
            color: $white;
          }
        }
      }
      form {
        > p {
          font-size: rems(16);
          line-height: rems(25);
          color: $green;
          margin-top: rems(46);
          margin-bottom: rems(22);
        }
        .select-element {
          margin-bottom: rems(24);
        }
        .btn-box {
          button {
            .right-icon {
              display: inline-block;
              background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='15.428' viewBox='0 0 24 15.428'%3E%3Cpath id='Combined_Shape_Copy_3' data-name='Combined Shape Copy 3' d='M16.8.168l.1.083,6.857,6.857a.857.857,0,0,1,.083,1.116l-.083.1-6.857,6.857a.857.857,0,0,1-1.3-1.116l.083-.1,5.394-5.394H.857A.857.857,0,0,1,.741,6.865l.116-.008H21.073L15.68,1.463A.857.857,0,0,1,15.6.347l.083-.1A.857.857,0,0,1,16.8.168Z' fill='%23bd9d7e'/%3E%3C/svg%3E%0A");
              width: rems(24);
              height: rems(16);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              margin-left: rems(16);
              vertical-align: middle;
            }
            &:disabled {
              color: #cfcfcf;
              background-color: #ececeb;
              .right-icon {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='15.428' viewBox='0 0 24 15.428'%3E%3Cpath id='Combined_Shape_Copy_3' data-name='Combined Shape Copy 3' d='M16.8.168l.1.083,6.857,6.857a.857.857,0,0,1,.083,1.116l-.083.1-6.857,6.857a.857.857,0,0,1-1.3-1.116l.083-.1,5.394-5.394H.857A.857.857,0,0,1,.741,6.865l.116-.008H21.073L15.68,1.463A.857.857,0,0,1,15.6.347l.083-.1A.857.857,0,0,1,16.8.168Z' fill='%23CFCFCF'/%3E%3C/svg%3E%0A");
              }
            }
          }
          .download {
            h4 {
              margin-top: rems(10);
            }
          }
        }
      }
    }
  }
}
.custom-select + .select2-container {
  display: block;
  font-family: $Helvetica;
  * {
    font-family: $Helvetica;
  }
  .select2-selection {
    border-radius: 0;
    border: 1px solid $lightBrown;
    height: auto;

    .select2-selection__rendered {
      padding: rems(13) rems(19) rems(11);
      font-size: rems(18);
      font-weight: $boldW;
      color: $green;
      background-color: rgba($color: #bd9d7e, $alpha: 0.15);
    }
    .select2-selection__arrow {
      width: auto;
      height: auto;
      top: rems(18);
      right: rems(28);
      b {
        border: none;
        background-image: url("../images/LAMA/chevron-arrow.svg");
        width: rems(20);
        height: rems(20);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotateZ(90deg);
      }
    }
  }
  &.select2-container--open {
    .select2-selection .select2-selection__arrow b {
      transform: rotateZ(270deg);
    }
  }
}
.select2-dropdown {
  background-color: #f5f0ec;
  .select2-results__option {
    font-size: rems(18);
    font-weight: $boldW;
    color: $green;
    padding: rems(13) rems(19) rems(11);
    &[aria-selected="true"],
    &.select2-results__option--highlighted {
      color: $white;
      background-color: $green;
    }
  }
}
.approval-card {
  position: relative;
  background-color: #f5f0ec;
  border: 1px solid $lightBrown;
  border-radius: rems(8);
  padding: rems(32) rems(24) rems(32 + 94);
  height: 100%;
  > h5 {
    font-size: rems(28);
    font-weight: $boldW;
    line-height: rems(37);
    height: rems(37 * 2);
    overflow: hidden;
    margin-bottom: rems(22);
    color: $green;
  }
  > p {
    font-size: rems(16);
    line-height: rems(25);
    color: $green;
  }
  .download {
    position: absolute;
    width: calc(100% - (24px * 2));
    bottom: rems(30);
    left: rems(24);
    h4 {
      margin-top: rems(20);
    }
  }
}
.visit-link {
  text-align: center;
  font-size: rems(16);
  color: $green;
  margin-top: rems(27);
  a {
    font-size: rems(16);
    color: $green;
    font-weight: $boldW;
    img {
      margin-left: rems(50);
    }
  }
}
