@import "bootstrap-mod";
@import "direction-rtl";
@import "rtl";
html {
  font-size: 16px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b8d8f;
  border-radius: 5px;
  margin: 0 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8d8f;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-ar;
  font-weight: $regularW;
  @media (min-width: 1100px) {
    overflow-x: hidden;
  }
}

*,
*:focus,
*:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  &:after {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
  }
}

.topactions-bar {
  height: 72px;
  padding: 12px 0;
  text-transform: uppercase;
  font-weight: $mediumW;
  .icon {
    display: flex;
    margin: 0.5rem;
    @media (min-width: 375px) {
      margin: 0.5rem 0.8rem;
    }
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .accessibility-wrapper {
    .text-settings {
      .font-sizing-wrapper {
        font-family: inherit;
      }
      .font-sizing {
        display: inline-block;
        width: 38px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px $green solid;
        font-size: 1.25rem;
        font-weight: inherit;
        text-transform: uppercase;
        user-select: none;
        @media (min-width: 375px) {
          width: 48px;
        }
        @include trans(0.2s);
        cursor: pointer;
        + .font-sizing {
          margin-left: -1px;
        }

        &:hover {
          color: $white;
          background-color: $green;
        }
      }
    }

    .contrast-settings {
      #colorsettings,
      #HightContrastsettings {
        cursor: pointer;
      }

      .color-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.795' height='32' viewBox='0 0 31.795 32'%3E%3Cg id='brightness-2_copy' data-name='brightness-2 copy' transform='translate(0 0)'%3E%3Cpath id='Path' d='M1.538.769v4A.769.769,0,1,1,0,4.769v-4a.769.769,0,0,1,1.538,0Z' transform='translate(15.094 26.462)' fill='%23365029'/%3E%3Cpath id='Path-2' data-name='Path' d='M.769,0A.769.769,0,0,0,0,.769V4.564a.769.769,0,1,0,1.538,0V.769A.769.769,0,0,0,.769,0Z' transform='translate(15.094)' fill='%23365029'/%3E%3Cpath id='Path-3' data-name='Path' d='M5.333.769A.769.769,0,0,0,4.564,0H.769a.769.769,0,0,0,0,1.538H4.564A.769.769,0,0,0,5.333.769Z' transform='translate(0 15.128)' fill='%23365029'/%3E%3Cpath id='Path-4' data-name='Path' d='M4.564,0H.769a.769.769,0,0,0,0,1.538H4.564A.769.769,0,1,0,4.564,0Z' transform='translate(26.461 15.128)' fill='%23365029'/%3E%3Cpath id='Path-5' data-name='Path' d='M2.919.225.225,2.918A.769.769,0,0,0,1.313,4.006L4.007,1.313A.769.769,0,1,0,2.919.225Z' transform='translate(4.48 23.217)' fill='%23365029'/%3E%3Cpath id='Path-6' data-name='Path' d='M.769,4.232a.767.767,0,0,0,.544-.225L4.007,1.313A.769.769,0,1,0,2.919.225L.225,2.919A.769.769,0,0,0,.769,4.232Z' transform='translate(23.252 4.446)' fill='%23365029'/%3E%3Cpath id='Path-7' data-name='Path' d='M1.313.225A.769.769,0,0,0,.225,1.313L2.919,4.006A.769.769,0,1,0,4.007,2.919Z' transform='translate(4.48 4.446)' fill='%23365029'/%3E%3Cpath id='Path-8' data-name='Path' d='M1.313.225A.769.769,0,0,0,.225,1.313L2.919,4.006A.769.769,0,1,0,4.007,2.919Z' transform='translate(23.252 23.217)' fill='%23365029'/%3E%3Cpath id='Subtraction_1' data-name='Subtraction 1' d='M-2479.844-1.687A9.166,9.166,0,0,1-2489-10.844,9.166,9.166,0,0,1-2479.844-20a9.167,9.167,0,0,1,9.156,9.156A9.167,9.167,0,0,1-2479.844-1.687Zm-.17-16.771a7.644,7.644,0,0,0-7.525,7.615,7.644,7.644,0,0,0,7.525,7.616V-18.459Z' transform='translate(2495.826 26.733)' fill='%23365029' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
      .HightContrast-icon {
        min-width: 25px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='brightness_copy' data-name='brightness copy' transform='translate(0 0)'%3E%3Cpath id='Shape' d='M12,24A12,12,0,0,1,3.513,3.512,12,12,0,0,1,20.487,20.487,11.923,11.923,0,0,1,12,24Zm.938-22.082V22.082a10.125,10.125,0,0,0,0-20.164Z' fill='%23365029'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
  }

  .contactbtn {
    border: 1px $green solid;

    @include trans(0.2s);
    &:hover {
      background-color: $green;
      color: $white;
    }
  }
  .langbtn {
    border: 1px $lightBrown solid;
    color: $lightBrown;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    @media (min-width: 375px) {
      margin-right: 1rem;
    }
    padding: 0.7rem;
    font-family: $font-ar;
    @include trans(0.2s);
    &:hover {
      background-color: $lightBrown;
      color: $white;
    }
  }
}
.phone-icon {
  display: inline-block;
  &:after {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg id='phone-3_copy_2' data-name='phone-3 copy 2' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='Path' d='M18.125,13.482a1.67,1.67,0,0,0-2.525,0c-.59.585-1.181,1.171-1.761,1.766a.348.348,0,0,1-.486.089c-.382-.208-.789-.377-1.156-.605a18.314,18.314,0,0,1-4.415-4.018A10.46,10.46,0,0,1,6.2,8.179a.363.363,0,0,1,.089-.466c.59-.57,1.166-1.156,1.746-1.741a1.677,1.677,0,0,0,0-2.585C7.568,2.92,7.107,2.464,6.645,2S5.7,1.04,5.216.569a1.681,1.681,0,0,0-2.525,0C2.1,1.159,1.525,1.759.92,2.335a2.875,2.875,0,0,0-.9,1.94A8.218,8.218,0,0,0,.652,7.811a21.493,21.493,0,0,0,3.815,6.355,23.608,23.608,0,0,0,7.818,6.117,11.308,11.308,0,0,0,4.331,1.26,3.174,3.174,0,0,0,2.724-1.037c.506-.566,1.077-1.081,1.612-1.622a1.688,1.688,0,0,0,.01-2.57Q19.549,14.893,18.125,13.482Z' transform='translate(0 2.449)' fill='%23bd9d7e'/%3E%3Cpath id='Path-2' data-name='Path' d='M5.481,7.347l1.866-.325a8.585,8.585,0,0,0-2.331-4.6A8.23,8.23,0,0,0,.263,0L0,1.917A6.385,6.385,0,0,1,3.681,3.792,6.624,6.624,0,0,1,5.481,7.347Z' transform='translate(12.245 4.898)' fill='%23bd9d7e'/%3E%3Cpath id='Path-3' data-name='Path' d='M8.3,3.945A14.091,14.091,0,0,0,.268,0L0,1.881A12.219,12.219,0,0,1,6.941,5.289a11.9,11.9,0,0,1,3.4,6.466l1.9-.319A13.829,13.829,0,0,0,8.3,3.945Z' transform='translate(11.755)' fill='%23bd9d7e'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
  }
}
.location-icon {
  display: inline-block;
  &:after {
    content: "";
    width: 24px;
    height: 33px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='33' viewBox='0 0 24 33'%3E%3Cpath id='Shape' d='M12,33a1.084,1.084,0,0,1-.8-.357C10.739,32.136,0,20.141,0,11.951a12,12,0,0,1,24,0c0,8.19-10.739,20.185-11.2,20.692A1.086,1.086,0,0,1,12,33ZM12,5.938a6.013,6.013,0,1,0,6.038,6.013A6.032,6.032,0,0,0,12,5.938Z' fill='%23bd9d7e'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
  }
}
.envelope {
  &:after {
    width: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='24' viewBox='0 0 32 24'%3E%3Cpath id='Combined_Shape_Copy_5' data-name='Combined Shape Copy 5' d='M4.722,24A4.767,4.767,0,0,1,0,19.193V6.769l15.036,9.346a1.792,1.792,0,0,0,1.889,0L32,6.769V19.193A4.768,4.768,0,0,1,27.277,24ZM.151,3.769A4.716,4.716,0,0,1,4.722,0H27.277a4.716,4.716,0,0,1,4.572,3.769l-15.83,9.846Z' fill='%23bd9d7e'/%3E%3C/svg%3E%0A");
  }
}
.header {
  // position: relative;
  background-color: $green;
  height: 160px;

  .logo {
    height: 100%;
    padding: 1.2rem 0;
    img {
      //   width: 120px;
      height: 100%;
    }
  }
  .navbar {
    .navbar-nav {
      .nav-link {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: $mediumW;
        color: $white;
        @media (min-width: 1100px) {
          padding: 0.5rem 0.7rem;
        }
        @include trans(0.2s);
        &:hover {
          color: $lightBrown;
        }
      }
    }
    li.dropdown {
      position: static;
      .dropdown-menu {
        right: 0;
        left: auto;
        top: 100%;
        background: lighten($green, 2.2%);
        border-radius: 0;
        border: 0;
        padding: 2rem 2rem 2.8rem;
        margin: 0;
        // width: 90%;
        &.show {
          animation: fadeIn ease 0.5s;
        }
        @media (min-width: 1100px) {
          width: 85%;
        }
        a {
          display: block;
          color: $white;
          font-size: rems(18);
          font-weight: $simiboldW;
          text-transform: uppercase;
          padding: 1rem;
          border-bottom: 1px $lightBrown solid;
          @include trans(0.3s);
          &:hover {
            background-color: $lightBrown;
            color: $green;
          }
        }
        @media (min-width: 1100px) {
          &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            right: -90%;
            top: 0;
            background-color: inherit;
            z-index: -1;
          }
        }
      }
    }
    .dropdown-toggle {
      position: relative;
      &:after {
        border: 0;
        width: 24px;
        height: 12px;
        position: relative;
        top: 5px;
        margin-right: 0.5rem;
        margin-left: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='12' viewBox='0 0 24 12'%3E%3Cg id='chevron_copy_2' data-name='chevron copy 2' transform='translate(24) rotate(90)'%3E%3Cpath id='Path' d='M11.188,10.012,1.583.275a.919.919,0,0,0-1.311,0,.945.945,0,0,0,0,1.326l9.606,9.737a.946.946,0,0,1,0,1.327L.271,22.4a.945.945,0,0,0,0,1.326.919.919,0,0,0,1.311,0l9.6-9.736A2.839,2.839,0,0,0,11.188,10.012Z' fill='%23bd9d7e'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    @media (max-width: 1100px) {
      .dropdown-toggle {
        &:after {
          position: absolute;
          left: 0;
          margin-right: 0;
          margin-left: 0.5rem;
        }
      }
      li.dropdown {
        &.show {
          .dropdown-toggle {
            &:after {
              position: absolute;
              left: 0;
              transform: rotate(-180deg);
            }
          }
        }
        .dropdown-menu {
          padding: 1rem 0.8rem;
        }
      }
    }
    .navbar-toggler {
      color: $lightBrown;
      border-color: $lightBrown;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28189,157,126' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
      &:focus,
      &:active {
        outline: none;
      }
      &[aria-expanded="true"] {
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewBox='0 0 24 18'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-3623 -5177)'%3E%3Crect id='Rectangle_1' data-name='Rectangle 1' width='24' height='18' transform='translate(3623 5177)' fill='none'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M0,0H19.111' transform='translate(3628.5 5193.014) rotate(-45)' fill='none' stroke='%23bd9d7e' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M0,0H19.111' transform='translate(3628.5 5179.5) rotate(45)' fill='none' stroke='%23bd9d7e' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
    }
    .navbar-collapse {
      @media (max-width: 1100px) {
        background-color: lighten($green, 2.2%);
        padding: 0 1rem;
        margin: 0 -15px;
      }
    }
  }
  @include trans(0.3s);
  &.scrolled {
    transition: all 0.3s ease;
    // transition-delay: 0.2s;
    height: 80px;
    margin-bottom: 20px;
    position: fixed;
    // position: sticky;
    z-index: 1200;
    top: 0;
    left: 0;
    right: 0;
    .logo {
      padding: 0.65rem 0;
    }
  }
}
// Form styles
.btn {
  height: 3rem;
  font-size: 1.125rem;
  font-weight: $simiboldW;
  padding: 0 38px;
  text-transform: capitalize;
  border-radius: 6px;
  border: 0;
}
a.btn {
  line-height: 44px;
  &-primary.btnWizArrow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.667' height='21.333' viewBox='0 0 10.667 21.333'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-0.667 -0.333)'%3E%3Cg id='chevron' transform='translate(0.667 0.333)'%3E%3Cpath id='Path' d='M9.945,8.9,1.407.245a.817.817,0,0,0-1.165,0,.84.84,0,0,0,0,1.178l8.538,8.655a.841.841,0,0,1,0,1.179L.241,19.911a.84.84,0,0,0,0,1.178.817.817,0,0,0,1.165,0l8.537-8.654A2.523,2.523,0,0,0,9.945,8.9Z' fill='%23BD9D7E'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
.btn-secondary,
.btn-white {
  color: $green !important;
  &:hover {
    color: $green !important;
  }
}
.form-group {
  margin-bottom: rems(24);
}
.form-control {
  height: 3rem;
  font-size: 1.125rem;
  color: $green;
  border: 0;
  font-weight: normal;
}
// footer
footer,
.footer {
  padding: 3rem 0;
  background-color: $green;
  color: $white;
  ul.footer-links,
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 1rem 0.2rem;
      a {
        font-size: 1.125rem;
        font-weight: $lightW;
        text-transform: capitalize;
        color: inherit;
        @include trans(0.3s);
        &:hover {
          color: $lightBrown;
        }
      }
    }
  }
  .newsLetter-wrapper {
    h3 {
      font-size: 1.5rem;
    }
    .form-control {
      margin-left: 2%;
      width: 68%;
      @media (min-width: 1100px) {
        max-width: 360px;
      }
    }
    .btn {
      width: 30%;
      padding: 0 2%;
      max-width: 165px;

      @media (max-width: 370px) {
        font-size: 0.95rem;
      }
    }
  }
  .footerLogo {
    a {
      margin: auto auto 0 0;
      @media (max-width: 1100px) {
        margin-left: 0;
        margin-right: auto;
        justify-content: flex-end !important;
      }
    }
    img {
      max-width: 100px;
    }
  }
  a {
    color: inherit;
  }
  .socialLinks {
    span {
      font-size: 1.5rem;
      font-weight: $simiboldW;
      text-transform: capitalize;
    }
    a {
      margin-right: 1.3rem;

      i.fab {
        font-size: 2rem;
      }
      @include trans(0.3s);
      &:hover {
        color: $lightBrown;
      }
    }
  }
  .copyright {
    p {
      font-weight: $regularW;
    }
  }
}

// home swiper
.home-swiper {
  height: 550px;
  height: calc(100vh - 310px);
  min-height: 410px;
  margin-top: -10px;
  .swiper-slide {
    background-size: cover;
    background-position: center 0;
    .slide-txt {
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      padding-top: rems(60);
      @media (min-width: 1100px) {
        padding-top: rems(86);
      }
      color: $white;
      h2,
      h4 {
        color: inherit;
        text-transform: uppercase;
        font-weight: $simiboldW;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: rems(30);
        @media (min-width: 1100px) {
          font-size: rems(40);
        }
      }

      p {
        color: inherit;
        max-width: 480px;
        font-size: rems(18);
        font-weight: $mediumW;
        line-height: rems(28);
      }
    }
  }
}

//Services-HomeLinks
.Services-HomeLinks {
  height: 150px;
  position: relative;
  z-index: 2;
  top: -110px;
  margin-bottom: -110px;
  .swiper-wrapper {
    @media (min-width: 1200px) {
      // justify-content: space-around;
    }
  }
  .home-linkbanner {
    display: flex;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.25);
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      @include trans(0.3s);
    }
    &--text {
      position: absolute;
      z-index: 2;
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.5rem;
      font-weight: $boldW;
      color: $white;
    }
    img {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include trans(0.3s);
    }
    &:hover {
      &:before {
        background-color: rgba(0, 0, 0, 0.15);
      }
      img {
        transform: scale(1.1);
      }
    }
  }
}

// shaded color bg effect
.top-shade-bg,
.bottom-shade-bg {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    background-color: #decebe;
  }
}
.bottom-shade-bg {
  &:after {
    top: 50%;
  }
}
.top-shade-bg-dark,
.bottom-shade-bg-dark {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    background-color: $green;
  }
}
.bottom-shade-bg-dark {
  &:after {
    top: 50%;
  }
}
.full-shade-bg {
  &:after {
    height: 100% !important;
  }
}
// HomeCards section
.HomeCards {
  margin-top: 70px;
  padding-bottom: 70px;
  &:after {
    height: calc(100% - 295px);
    top: 295px;
  }
  div[class^="col-"]:nth-child(1) {
    .card {
      background-color: $darkBrown;
    }
  }
  div[class^="col-"]:nth-child(2) {
    .card {
      background-color: $brown;
    }
  }
  div[class^="col-"]:nth-child(3) {
    .card {
      background-color: $yellow;
    }
    .card-body {
      color: $green;
    }
  }
  div[class^="col-"]:nth-child(odd) {
    .card {
      img {
        order: 0;
      }
    }
  }
  div[class^="col-"]:nth-child(even) {
    .card {
      img {
        order: 1;
        &.card-img-top {
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }
  .card {
    background-color: $brown;
    height: 614px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 2rem;
    @media (min-width: 1300px) {
      margin-bottom: 0;
    }
    .card-body {
      padding: 2rem;
      color: $white;
      display: flex;
      flex-direction: column;
    }
    .card-title {
      font-size: 1.5rem;
      font-weight: $boldW;
      text-transform: uppercase;
      max-width: 235px;
      color: inherit;
    }
    .card-text {
      font-size: 0.95rem;
      font-weight: $lightW;
      color: inherit;
    }
    img {
      height: 295px;
    }
    .card-img-top {
      border-radius: 8px 8px 0 0;
    }
    .morelnk {
      i.chevron-right {
        &:after {
          top: 6px;
        }
      }
    }
  }
}
.morelnk {
  font-size: 1.125rem;
  font-weight: $lightW;
  color: inherit;
  margin-top: auto;
  margin-left: auto;
  @include trans(0.3s);
  i.chevron-right {
    transition: inherit;
    &:after {
      content: "";
      width: 12px;
      height: 22px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.667' height='21.333' viewBox='0 0 10.667 21.333'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-0.667 -0.333)'%3E%3Cg id='chevron' transform='translate(0.667 0.333)'%3E%3Cpath id='Path' d='M9.945,8.9,1.407.245a.817.817,0,0,0-1.165,0,.84.84,0,0,0,0,1.178l8.538,8.655a.841.841,0,0,1,0,1.179L.241,19.911a.84.84,0,0,0,0,1.178.817.817,0,0,0,1.165,0l8.537-8.654A2.523,2.523,0,0,0,9.945,8.9Z' fill='%23bd9d7e'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
        no-repeat center;
      display: inline-block;
      position: relative;
      margin-left: 1rem;
      transition: inherit;
    }
  }

  &:hover {
    color: $lightBrown;
    i.chevron-right {
      &:after {
        transform: translateX(5px);
      }
    }
  }
}
.btnWizArrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.667' height='21.333' viewBox='0 0 10.667 21.333'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-0.667 -0.333)'%3E%3Cg id='chevron' transform='translate(0.667 0.333)'%3E%3Cpath id='Path' d='M9.945,8.9,1.407.245a.817.817,0,0,0-1.165,0,.84.84,0,0,0,0,1.178l8.538,8.655a.841.841,0,0,1,0,1.179L.241,19.911a.84.84,0,0,0,0,1.178.817.817,0,0,0,1.165,0l8.537-8.654A2.523,2.523,0,0,0,9.945,8.9Z' fill='%23365029'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 83% center;
  padding-right: 3.5rem;
  @include trans(0.3s);
  &:hover {
    background-position: 87% center;
  }
}
.py-70 {
  padding: 70px 0;
}
.pt-70 {
  padding-top: 70px;
}
.pb-70 {
  padding-bottom: 70px;
}
// background colors
.green-bg {
  background-color: $green;
  color: $white;
  a,
  a.morelnk {
    color: inherit;
  }
  .date {
    color: $green;
  }
}
.brown-bg {
  background-color: $brown;
  color: $white;
  a,
  a.morelnk {
    color: inherit;
  }
}
.border-radius {
  border-radius: rems(8);
}
.baige-bg {
  background-color: #fff6ed;
}
.white-bg {
  background-color: $white;
}
.lightBrown-bg {
  background-color: #decebe;
}

h1 {
  font-size: rems(48);
  font-weight: $simiboldW;
}
h2 {
  font-size: rems(35);
  font-weight: $simiboldW;
  text-transform: capitalize;
}
.HomeForm {
  p {
    @include fontsize(20);
    font-weight: $regularW;
    max-width: 732px;
  }
}

section.HomeEvents {
  .white-bg {
    box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.04);
  }
}
.event-cal {
  .ui-datepicker-inline {
    width: 100%;
    height: 370px;
    border: 0;
    background: none;
    font-family: inherit;
    .ui-datepicker-header {
      border: 0;
      background: none;
      font-size: rems(20);
      font-weight: $simiboldW;
      color: $green;
      text-transform: uppercase;

      .ui-datepicker-prev,
      .ui-datepicker-next {
        background: none;
        border: 0;
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        cursor: pointer;
        &:hover {
          border: 1px rgba($lightBrown, $alpha: 0.5) solid;
        }
      }
      .ui-datepicker-prev {
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='17' viewBox='0 0 10 17'%3E%3Cpath id='Arrow_left' data-name='Arrow left' d='M8.37,17,0,8.5,8.37,0,10,1.545,3.152,8.5,10,15.455Z' fill='%23c9c9c9'/%3E%3C/svg%3E%0A");
      }
      .ui-datepicker-next {
        right: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='17' viewBox='0 0 10 17'%3E%3Cpath id='Arrow_left' data-name='Arrow left' d='M8.37,17,0,8.5,8.37,0,10,1.545,3.152,8.5,10,15.455Z' fill='%23c9c9c9'/%3E%3C/svg%3E%0A");
        transform: scaleX(-1);
      }
    }
    table.ui-datepicker-calendar {
      thead {
        border-bottom: 2px #f3f3f3 solid;
        font-family: inherit;
        th {
          font-family: inherit;
          font-size: rems(18);
          font-weight: $simiboldW;
          color: #999;
        }
      }
      td {
        padding: 10px 0.5%;
        font-size: rems(16);
        color: #000;
        .ui-state-default {
          width: 100%;
          max-width: 40px;
          height: 40px;
          margin: auto;
          text-align: center;
          line-height: 2;
          border: 0;
          background: none;
          font-size: inherit;
          color: inherit;
          border-radius: 2px;
        }
        &.ui-datepicker-today {
          .ui-state-highlight {
            background: #f4e8dc;
            font-weight: $simiboldW;
          }
        }
        &.ui-datepicker-current-day {
          .ui-state-active {
            background: $lightBrown;
            font-weight: $simiboldW;
            color: $white;
          }
        }
        &.ui-datepicker-other-month {
          opacity: 1;
          .ui-state-default {
            color: #999;
          }
        }
      }
    }
    .ui-widget-header .ui-icon {
      background-image: none;
    }
  }
}

// home event swiper
.EventSwiper {
  .evntNavigation {
    position: relative;
    height: 48px;
    margin-bottom: rems(5);
    display: flex;
    align-items: center;
    .swiper-button-next,
    .swiper-button-prev {
      width: 48px;
      height: 48px;
      &:after {
        width: 100%;
        height: 100%;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg id='Group_7' data-name='Group 7' xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Crect id='Rectangle' width='48' height='48' fill='none'/%3E%3Cg id='chevron' transform='translate(16 8)'%3E%3Cpath id='Path' d='M14.917,13.349,2.11.367a1.226,1.226,0,0,0-1.747,0,1.26,1.26,0,0,0,0,1.768L13.168,15.116a1.262,1.262,0,0,1,0,1.769L.361,29.867a1.26,1.26,0,0,0,0,1.768,1.226,1.226,0,0,0,1.747,0L14.916,18.652A3.785,3.785,0,0,0,14.917,13.349Z' fill='%23bd9d7e'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      right: rems(62);
      left: auto;
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .event-item {
    &--img {
      max-width: 100%;
      max-height: 360px;
    }
    &--text {
      @media (min-width: 1200px) {
        margin-right: 1rem;
      }
      h3 {
        font-size: rems(32);
        font-weight: $boldW;
      }
      p {
        font-size: rems(16);
        font-weight: $regularW;
        line-height: rems(19);
      }
    }
  }
}
.swiper-pagination-bullet {
  margin-right: rems(8);
  &-active {
    background: $lightBrown;
  }
}
.date {
  display: inline-block;
  font-size: rems(14);
  font-weight: $simiboldW;
  color: $white;
  background-color: $lightBrown;
  padding: rems(8) rems(16);
  border-radius: rems(8);
  text-transform: uppercase;
}

// Section Hero banner @home
section.hero-banner-sec {
  .hero-banner {
    height: auto;
    position: relative;
    min-height: 662px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // &--img {
    //   position: relative;
    //   z-index: -1;
    //   width: 100%;
    //   max-height: 662px;
    // }
    &--text {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: $white;
      text-transform: capitalize;
      h1 {
        font-size: rems(48);
        font-weight: $simiboldW;
        @media (max-width: 480px) {
          font-size: 2.5rem;
        }
      }
      h3 {
        font-size: rems(32);
        font-weight: $lightW;
      }
      p {
        max-width: rems(840);
        font-size: 1rem;
        font-weight: $mediumW;
        line-height: rems(26);
      }
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
    }
  }
}

// section Home MC News Section
section.HomeNews-Swiper {
  &:not(.CSV-LocalBusiness) {
    .swiper-container {
      padding-bottom: 15px;
      .swiper-scrollbar {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #3e5c2f;
        .swiper-scrollbar-drag {
          width: 100%;
          background: $lightBrown;
        }
      }
    }
  }
  .NewsNavigation {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    margin-bottom: rems(5);
    display: flex;
    align-items: center;
    .swiper-button-next,
    .swiper-button-prev {
      width: 48px;
      height: 48px;
      &:after {
        width: 100%;
        height: 100%;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg id='Group_7' data-name='Group 7' xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Crect id='Rectangle' width='48' height='48' fill='none'/%3E%3Cg id='chevron' transform='translate(16 8)'%3E%3Cpath id='Path' d='M14.917,13.349,2.11.367a1.226,1.226,0,0,0-1.747,0,1.26,1.26,0,0,0,0,1.768L13.168,15.116a1.262,1.262,0,0,1,0,1.769L.361,29.867a1.26,1.26,0,0,0,0,1.768,1.226,1.226,0,0,0,1.747,0L14.916,18.652A3.785,3.785,0,0,0,14.917,13.349Z' fill='%23bd9d7e'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      right: rems(62);
      left: auto;
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .news-item,
  .SW-item {
    &--img {
      max-height: 370px;
    }
    &--text {
      h3 {
        font-size: rems(30);
        font-weight: $simiboldW;
      }
      p {
        font-size: 1rem;
        font-weight: $regularW;
        line-height: rems(19);
      }
      @media (min-width: 768px) {
        p {
          max-height: 115px;
          overflow: hidden;
        }
        .morelnk {
          margin-top: -55px;
        }
      }
    }
  }
}

// section Social media Cards @Home
section.HomeSocial-Cards {
  .card-columns {
    @media (min-width: 1200px) {
      column-count: 4;
    }
    @media (max-width: 1100px) {
      column-count: 3;
    }
    @media (max-width: 768px) {
      column-count: 2;
    }
    @media (max-width: 450px) {
      column-count: 1;
    }
  }
  .card {
    border: 0;
    background-color: rgba($lightBrown, $alpha: 0.1);
    border-radius: rems(8);
    margin-bottom: rems(24);
    &:nth-child(1) {
      height: 535px;
    }

    &:nth-child(3) {
      height: 585px;
    }

    &:nth-child(5) {
      height: 535px;
    }

    img,
    .card-img-top {
      border-radius: rems(8) rems(8) 0 0;
      max-height: 293px;
      max-width: 100%;
      filter: brightness(0.95);
    }
    p {
      font-size: rems(14);
    }
    .card-date {
      font-weight: $simiboldW;
      color: rgba($lightBrown, $alpha: 0.5);
    }
    .card-text {
      font-weight: $regularW;
    }
    &:before {
      z-index: 1;
      background-repeat: no-repeat;
      background-size: contain;
      @include trans(0.3s);
    }
    &:hover {
      &:before {
        transform: scale(1.2);
      }
    }
    &.linked-in {
      // height: 535px;
      &:before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        top: 12px;
        left: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath id='Shape' d='M29.692,32H2.308A2.311,2.311,0,0,1,0,29.692V2.308A2.31,2.31,0,0,1,2.308,0H29.692A2.311,2.311,0,0,1,32,2.308V29.692A2.311,2.311,0,0,1,29.692,32ZM19.531,15.265c1.292,0,1.975.917,1.975,2.65v6.272h3.9V17.465c0-3.3-1.677-5.277-4.486-5.277A3.848,3.848,0,0,0,17.4,14.124v-1.66h-3.9c.05,1.082,0,11.617,0,11.723h3.9V17.641a2.575,2.575,0,0,1,.129-.951A2.171,2.171,0,0,1,19.531,15.265Zm-12.077-2.8V24.188h3.9V12.464ZM9.428,6.812a2.031,2.031,0,1,0-.051,4.051H9.4a2.032,2.032,0,1,0,.026-4.051Z' fill='%23fff'/%3E%3C/svg%3E%0A");
      }
    }
    &.twitter {
      // height: 535px;
      &:before {
        content: "";
        position: absolute;
        width: 39px;
        height: 32px;
        top: 12px;
        left: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='32' viewBox='0 0 39 32'%3E%3Cpath id='Path' d='M39,3.788a16.543,16.543,0,0,1-4.607,1.275A8.015,8.015,0,0,0,37.91.6a15.884,15.884,0,0,1-5.07,1.954A7.979,7.979,0,0,0,19.01,8.076,8.393,8.393,0,0,0,19.2,9.918,22.559,22.559,0,0,1,2.715,1.472,8.19,8.19,0,0,0,1.621,5.553a8.107,8.107,0,0,0,3.551,6.71,7.837,7.837,0,0,1-3.612-.994v.089a8.092,8.092,0,0,0,6.406,7.934,7.906,7.906,0,0,1-2.1.266,7,7,0,0,1-1.514-.138,8.082,8.082,0,0,0,7.471,5.625,15.966,15.966,0,0,1-9.913,3.444A14.831,14.831,0,0,1,0,28.377,22.35,22.35,0,0,0,12.266,32C26.978,32,35.022,19.692,35.022,9.024c0-.357-.012-.7-.029-1.044A16.038,16.038,0,0,0,39,3.788Z' fill='%23fff'/%3E%3C/svg%3E%0A");
      }
    }
    &.instagram {
      // height: 585px;
      &:before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        top: 12px;
        left: 12px;
        background-image: url("data:image/svg+xml,%3Csvg id='Combined_Shape_2' data-name='Combined Shape 2' xmlns='http://www.w3.org/2000/svg' width='31.954' height='31.954' viewBox='0 0 31.954 31.954'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M9.282,31.954A9.292,9.292,0,0,1,0,22.672V9.282A9.292,9.292,0,0,1,9.282,0h13.39a9.292,9.292,0,0,1,9.282,9.282v13.39a9.292,9.292,0,0,1-9.282,9.282ZM2.5,9.282v13.39a6.793,6.793,0,0,0,6.785,6.785h13.39a6.793,6.793,0,0,0,6.785-6.785V9.282A6.793,6.793,0,0,0,22.672,2.5H9.282A6.793,6.793,0,0,0,2.5,9.282Zm4.868,6.7a8.613,8.613,0,1,1,8.612,8.613A8.621,8.621,0,0,1,7.365,15.977Zm2.5,0a6.116,6.116,0,1,0,6.115-6.115A6.123,6.123,0,0,0,9.861,15.977Zm13.6-8.737a1.248,1.248,0,1,1,1.248,1.248A1.248,1.248,0,0,1,23.466,7.24Z' fill='%23fff'/%3E%3C/svg%3E%0A");
      }
    }
    &.facebook {
      // height: 585px;
      &:before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        top: 12px;
        left: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.001' height='32' viewBox='0 0 32.001 32'%3E%3Cg id='facebook' transform='translate(0)'%3E%3Cpath id='Subtraction_2' data-name='Subtraction 2' d='M-2034.752-4127H-2047a3,3,0,0,1-3-3v-26a3,3,0,0,1,3-3h26a3,3,0,0,1,3,3v26a3,3,0,0,1-3,3h-8.087v-11.289h3.776l.755-4.72h-4.531v-3.3c0-1.1.29-2.36,2.549-2.36h2.171v-4.343a25.608,25.608,0,0,0-3.776-.377c-4.076,0-6.608,2.532-6.608,6.608v3.776H-2039v4.72h4.248V-4127Z' transform='translate(2050 4159)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
  }
}

/*------------

CSV Css Start

--------------*/
.csv-home-banner {
  .home-swiper {
    height: 570px;
    height: calc(100vh - 390px);
  }
}
.EventSwiper {
  .evntNavigation {
    .btn ~ .swiper-pagination {
      right: 130px;
    }
  }
}
.CSVEvents {
  .evntNavigation {
    .swiper-pagination {
      right: 130px;
    }
    @media (max-width: 560px) {
      flex-direction: column;
      height: 100px;
      .btnWizArrow {
        width: 100%;
        display: block;
      }
      .swiper-button-next,
      .swiper-button-prev {
        top: 75%;
        z-index: 11;
      }
      .swiper-button-prev {
        right: auto;
        left: 0;
      }
      .swiper-pagination {
        top: 66%;
        right: 0 !important;
        width: 100%;
      }
    }
  }
  &.top-shade-bg {
    &:after {
      height: 100%;
    }
  }
}
.fc-event {
  border: 0 !important;
}
.CSV-ENewsletter {
  &.top-shade-bg {
    &:after {
      height: 75%;
    }
  }
}
.eNewsLetter_wrapper {
  padding: rems(44);
  @media (max-width: 425px) {
    padding: rems(24);
  }
}
.eNewsLetter_bigItem {
  border-bottom: 1px #8a7158 solid;
  padding-bottom: 2rem;
  @media (min-width: 1100px) {
    border: 0;
    border-right: 1px #8a7158 solid;
    padding: 0;
    padding-right: 2rem;
  }
  img {
    max-height: 371px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--text {
    h4 {
      font-weight: $regularW;
      line-height: rems(26);
      text-transform: uppercase;
      margin-bottom: rems(26);
    }
  }
}
.eNewsLetter_smallItem {
  @media (min-width: 1100px) {
    margin-left: rems(55);
  }
  img {
    max-height: 163px;
    @media (max-width: 425px) {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &--text {
    h4 {
      font-weight: $regularW;
      line-height: rems(26);
      text-transform: uppercase;
      margin-bottom: rems(26);
    }
  }
  &:not(:first-child) {
    margin-top: rems(24) !important;
    padding-top: rems(24);
    border-top: 1px #8a7158 solid;
  }
}
.meta-info {
  font-size: rems(16);
  font-weight: $simiboldW;
}
section.CSV-LocalBusiness {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 40%;
    background: $green;
    display: block;
    position: absolute;
    top: -35%;
    z-index: -2;
  }
  .swiper-container {
    border: 3px $lightBrown solid;
    border-radius: rems(8);
  }
  p.pSub-title {
    max-width: rems(1088);
    font-size: rems(20);
    font-weight: $mediumW;
  }
  .SW-item {
    &--img {
      height: 100%;
      max-height: 385px !important;

      object-fit: cover;
    }
    &--text {
      padding: rems(32);
      padding-top: 5rem;
      p {
        max-height: unset;
      }
    }
  }
  .NewsNavigation {
    left: rems(32);
    top: rems(23);
    .swiper-pagination {
      left: 7rem;
    }
    .swiper-button-next {
      left: 3rem;
    }
    .swiper-button-prev {
      left: 0 !important;
      right: auto;
    }
  }
}
.applybtn {
  width: 100%;
  @media (min-width: 768px) {
    width: 220px;
  }
}
.fullwidth-banner,
.HA-banner {
  .hero-banner {
    &--text {
      p {
        max-width: rems(1117) !important;
        font-size: rems(18);
      }
    }
  }
}
.card {
  &.card-overlay {
    border: 0;
    overflow: hidden;
    position: relative;
    .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include trans(1s);
    }
    &:hover {
      .card-img {
        transform: scale(1.15);
      }
    }
    .card-img-overlay {
      padding: 0;
      .card-title {
        font-weight: $simiboldW;
        text-transform: uppercase;
        background-color: $brown;
        padding: rems(18);
        height: rems(70);
        width: rems(300);
        text-align: center;
      }
    }
  }
}

.contact-section {
  &.top-shade-bg {
    &:after {
      max-height: rems(132.5);
    }
  }
}
.contact-box {
  min-height: rems(265);
  h1,
  h4 {
    font-weight: $simiboldW;
  }
  p {
    color: $lightBrown;
    font-size: rems(20);
    line-height: rems(27);
    text-align: center;
    font-weight: $regularW;
    margin: auto;
    margin-bottom: 1.6875rem;
    max-width: rems(800);
  }
  @media (max-width: 490px) {
    h1 {
      font-size: 2rem;
    }
    h4 {
      font-size: rems(20);
    }
    .contactinfo {
      .phone-icon {
        &:after {
          width: 32px !important;
          height: 32px !important;
          position: relative;
          top: 5px;
        }
      }
      .envelope {
        &:after {
          width: 24px !important;
          height: 18px !important;
        }
      }
    }
  }
  @media (max-width: 360px) {
    h1 {
      font-size: 1.6rem;
    }
    h4 {
      font-size: rems(18);
    }
  }
  .contactinfo {
    .phone-icon {
      &:after {
        width: 48px;
        height: 48px;
        position: relative;
        top: 5px;
      }
    }
  }
  a {
    @include trans(0.3s);
    &:hover {
      color: $lightBrown;
    }
  }
}

.back-link {
  width: rems(48);
  height: rems(48);
  transform: rotate(180deg);

  &:after {
    width: 100%;
    height: 100%;
    display: inline-block;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg id='Group_7' data-name='Group 7' xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Crect id='Rectangle' width='48' height='48' fill='none'/%3E%3Cg id='chevron' transform='translate(16 8)'%3E%3Cpath id='Path' d='M14.917,13.349,2.11.367a1.226,1.226,0,0,0-1.747,0,1.26,1.26,0,0,0,0,1.768L13.168,15.116a1.262,1.262,0,0,1,0,1.769L.361,29.867a1.26,1.26,0,0,0,0,1.768,1.226,1.226,0,0,0,1.747,0L14.916,18.652A3.785,3.785,0,0,0,14.917,13.349Z' fill='%23bd9d7e'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}
.inner-banner-img {
  height: 615px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  img {
    object-fit: cover;
  }
}
.medium-text {
  font-weight: $mediumW;
}
.custom-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='12' viewBox='0 0 24 12'%3E%3Cg id='chevron_copy_2' data-name='chevron copy 2' transform='translate(24) rotate(90)'%3E%3Cpath id='Path' d='M11.188,10.012,1.583.275a.919.919,0,0,0-1.311,0,.945.945,0,0,0,0,1.326l9.606,9.737a.946.946,0,0,1,0,1.327L.271,22.4a.945.945,0,0,0,0,1.326.919.919,0,0,0,1.311,0l9.6-9.736A2.839,2.839,0,0,0,11.188,10.012Z' fill='%23bd9d7e'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 20px;
}
.custom-control {
  padding-left: 2.5rem;
  min-height: 2.5rem;
  &-label {
    font-size: rems(18);
    font-weight: $mediumW;
    &:before {
      width: rems(32);
      height: rems(32);
      background: #fff;
      border: 1px solid $lightBrown;
    }
    &:before,
    &:after {
      left: -2.5rem;
    }
  }
  &-input {
    width: 2rem;
    height: 2rem;
  }
  &-input:checked ~ &-label:before {
    background: #fff;
    border: 1px solid $lightBrown;
  }
}
.custom-checkbox {
  .custom-control-input:checked ~ .custom-control-label:after {
    width: rems(32);
    height: rems(32);
    background-size: 18px 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewBox='0 0 24 18'%3E%3Cpath id='Path' d='M0,9.766,8.219,18,24,2.234,21.734,0,8.219,13.5,2.234,7.516Z' fill='%23365029'/%3E%3C/svg%3E%0A");
  }
}

.icon-upload {
  &:after {
    width: 32px;
    height: 25px;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.999' height='25' viewBox='0 0 31.999 25'%3E%3Cpath id='Combined_Shape_Copy' data-name='Combined Shape Copy' d='M15.28,25v-9.66L12.92,17.647l-1.448-1.42L15.578,12.2a1.04,1.04,0,0,1,1.447,0l4.107,4.029-1.447,1.42-2.351-2.307V25ZM.081,17.023a5.975,5.975,0,0,1,4.943-6.864A11.006,11.006,0,0,1,26.662,8.286a6.965,6.965,0,0,1-1.64,13.738h-4V20.033h4a4.976,4.976,0,0,0,.68-9.905,1,1,0,0,1-.851-.8A9,9,0,0,0,7.024,11.074a1,1,0,0,1-1,1,3.982,3.982,0,1,0,0,7.964h5v1.991H6A5.992,5.992,0,0,1,.081,17.023Z' transform='translate(0)' fill='%23365029'/%3E%3C/svg%3E%0A");
  }
}
.icon-trash {
  &:after {
    width: 20px;
    height: 24px;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.492' height='24' viewBox='0 0 19.492 24'%3E%3Cg id='Combined_Shape_3' data-name='Combined Shape 3' transform='translate(0)'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M4.429,24a2.784,2.784,0,0,1-2.008-.869A3.12,3.12,0,0,1,1.6,20.993V7.145a2.147,2.147,0,0,1,.551-4.222H5.025v-.7A2.225,2.225,0,0,1,5.674.644,2.2,2.2,0,0,1,7.233,0h5.026a2.208,2.208,0,0,1,2.209,2.22v.7h2.877A2.147,2.147,0,0,1,17.9,7.145V20.993a3.12,3.12,0,0,1-.824,2.138A2.781,2.781,0,0,1,15.063,24ZM2.721,20.993a1.783,1.783,0,0,0,1.708,1.883H15.063a1.783,1.783,0,0,0,1.708-1.883V7.195H2.721ZM1.136,5.059A1.012,1.012,0,0,0,2.147,6.071h15.2a1.012,1.012,0,0,0,0-2.023H2.147A1.012,1.012,0,0,0,1.136,5.059Zm5.333-3.62a1.089,1.089,0,0,0-.319.781v.7h7.195v-.7a1.083,1.083,0,0,0-1.084-1.1H7.233A1.088,1.088,0,0,0,6.468,1.439ZM12.5,19.88V9.257a.562.562,0,0,1,1.124,0V19.88a.562.562,0,1,1-1.124,0Zm-3.316,0V9.257a.562.562,0,0,1,1.124,0V19.88a.562.562,0,1,1-1.124,0Zm-3.317,0V9.257a.562.562,0,0,1,1.124,0V19.88a.562.562,0,1,1-1.124,0Z' transform='translate(0)' fill='%23d0021b'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
.browse-btn {
  border: 2px $green solid !important;
  border-radius: 6px !important;
  padding: 0 1rem;
  line-height: 2.3;
  cursor: pointer;
  .icon-upload {
    top: 7px;
    position: relative;
    margin-right: 0.5rem;
  }
  &:hover {
    background-color: $lightBrown;
    color: $green;
  }
}
.file-caption {
  line-height: 2;
}
.fileinput-remove {
  padding: 0 1rem;
  border-radius: 6px !important;
}
.file-caption-name {
  padding-left: 0 !important;
  height: 2rem !important;
}

.btn-submit {
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
    padding: 0 5rem !important;
  }
}
// animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// m.mosa EDIT fooooooooooooooooooooooooooooooooooor Arabic

/*--- highcontrast --*/
.highcontrast {
  filter: grayscale(1) contrast(1.3);
}
@import "mediaQuery";
