@import "bootstrap-mod";
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b8d8f;
  border-radius: 5px;
  margin: 0 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8d8f;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-en;
  font-weight: $regularW;
  @media (min-width: 1100px) {
    overflow-x: hidden;
  }
}

*,
*:focus,
*:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
}

.topactions-bar {
  height: 72px;
  padding: 12px 0;
  text-transform: uppercase;
  .icon {
    margin: 0.5rem;
    @media (min-width: 375px) {
      margin: 0.5rem 0.8rem;
    }
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .accessibility-wrapper {
    .text-settings {
      .font-sizing-wrapper {
      }
      .font-sizing {
        display: inline-block;
        width: 38px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px $green solid;
        font-size: 1.25rem;
        font-weight: $regularW;
        text-transform: uppercase;
        @media (min-width: 375px) {
          width: 48px;
        }
        @include trans(0.2s);
        cursor: pointer;
        + .font-sizing {
          margin-left: -1px;
        }

        &:hover {
          color: $white;
          background-color: $green;
        }
      }
    }

    .contrast-settings {
      #colorsettings,
      #HightContrastsettings {
        cursor: pointer;
      }

      .color-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.795' height='32' viewBox='0 0 31.795 32'%3E%3Cg id='brightness-2_copy' data-name='brightness-2 copy' transform='translate(0 0)'%3E%3Cpath id='Path' d='M1.538.769v4A.769.769,0,1,1,0,4.769v-4a.769.769,0,0,1,1.538,0Z' transform='translate(15.094 26.462)' fill='%23365029'/%3E%3Cpath id='Path-2' data-name='Path' d='M.769,0A.769.769,0,0,0,0,.769V4.564a.769.769,0,1,0,1.538,0V.769A.769.769,0,0,0,.769,0Z' transform='translate(15.094)' fill='%23365029'/%3E%3Cpath id='Path-3' data-name='Path' d='M5.333.769A.769.769,0,0,0,4.564,0H.769a.769.769,0,0,0,0,1.538H4.564A.769.769,0,0,0,5.333.769Z' transform='translate(0 15.128)' fill='%23365029'/%3E%3Cpath id='Path-4' data-name='Path' d='M4.564,0H.769a.769.769,0,0,0,0,1.538H4.564A.769.769,0,1,0,4.564,0Z' transform='translate(26.461 15.128)' fill='%23365029'/%3E%3Cpath id='Path-5' data-name='Path' d='M2.919.225.225,2.918A.769.769,0,0,0,1.313,4.006L4.007,1.313A.769.769,0,1,0,2.919.225Z' transform='translate(4.48 23.217)' fill='%23365029'/%3E%3Cpath id='Path-6' data-name='Path' d='M.769,4.232a.767.767,0,0,0,.544-.225L4.007,1.313A.769.769,0,1,0,2.919.225L.225,2.919A.769.769,0,0,0,.769,4.232Z' transform='translate(23.252 4.446)' fill='%23365029'/%3E%3Cpath id='Path-7' data-name='Path' d='M1.313.225A.769.769,0,0,0,.225,1.313L2.919,4.006A.769.769,0,1,0,4.007,2.919Z' transform='translate(4.48 4.446)' fill='%23365029'/%3E%3Cpath id='Path-8' data-name='Path' d='M1.313.225A.769.769,0,0,0,.225,1.313L2.919,4.006A.769.769,0,1,0,4.007,2.919Z' transform='translate(23.252 23.217)' fill='%23365029'/%3E%3Cpath id='Subtraction_1' data-name='Subtraction 1' d='M-2479.844-1.687A9.166,9.166,0,0,1-2489-10.844,9.166,9.166,0,0,1-2479.844-20a9.167,9.167,0,0,1,9.156,9.156A9.167,9.167,0,0,1-2479.844-1.687Zm-.17-16.771a7.644,7.644,0,0,0-7.525,7.615,7.644,7.644,0,0,0,7.525,7.616V-18.459Z' transform='translate(2495.826 26.733)' fill='%23365029' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
      .HightContrast-icon {
        min-width: 25px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='brightness_copy' data-name='brightness copy' transform='translate(0 0)'%3E%3Cpath id='Shape' d='M12,24A12,12,0,0,1,3.513,3.512,12,12,0,0,1,20.487,20.487,11.923,11.923,0,0,1,12,24Zm.938-22.082V22.082a10.125,10.125,0,0,0,0-20.164Z' fill='%23365029'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
  }
  .contactbtn {
    border: 1px $green solid;
    .phone-icon {
      background-image: url("data:image/svg+xml,%3Csvg id='phone-3_copy_2' data-name='phone-3 copy 2' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='Path' d='M18.125,13.482a1.67,1.67,0,0,0-2.525,0c-.59.585-1.181,1.171-1.761,1.766a.348.348,0,0,1-.486.089c-.382-.208-.789-.377-1.156-.605a18.314,18.314,0,0,1-4.415-4.018A10.46,10.46,0,0,1,6.2,8.179a.363.363,0,0,1,.089-.466c.59-.57,1.166-1.156,1.746-1.741a1.677,1.677,0,0,0,0-2.585C7.568,2.92,7.107,2.464,6.645,2S5.7,1.04,5.216.569a1.681,1.681,0,0,0-2.525,0C2.1,1.159,1.525,1.759.92,2.335a2.875,2.875,0,0,0-.9,1.94A8.218,8.218,0,0,0,.652,7.811a21.493,21.493,0,0,0,3.815,6.355,23.608,23.608,0,0,0,7.818,6.117,11.308,11.308,0,0,0,4.331,1.26,3.174,3.174,0,0,0,2.724-1.037c.506-.566,1.077-1.081,1.612-1.622a1.688,1.688,0,0,0,.01-2.57Q19.549,14.893,18.125,13.482Z' transform='translate(0 2.449)' fill='%23bd9d7e'/%3E%3Cpath id='Path-2' data-name='Path' d='M5.481,7.347l1.866-.325a8.585,8.585,0,0,0-2.331-4.6A8.23,8.23,0,0,0,.263,0L0,1.917A6.385,6.385,0,0,1,3.681,3.792,6.624,6.624,0,0,1,5.481,7.347Z' transform='translate(12.245 4.898)' fill='%23bd9d7e'/%3E%3Cpath id='Path-3' data-name='Path' d='M8.3,3.945A14.091,14.091,0,0,0,.268,0L0,1.881A12.219,12.219,0,0,1,6.941,5.289a11.9,11.9,0,0,1,3.4,6.466l1.9-.319A13.829,13.829,0,0,0,8.3,3.945Z' transform='translate(11.755)' fill='%23bd9d7e'/%3E%3C/svg%3E%0A");
    }
    @include trans(0.2s);
    &:hover {
      background-color: $green;
      color: $white;
    }
  }
  .langbtn {
    border: 1px $lightBrown solid;
    color: $lightBrown;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    @media (min-width: 375px) {
      margin-left: 1rem;
    }
    padding: 0.7rem;
    font-family: $font-ar;
    @include trans(0.2s);
    &:hover {
      background-color: $lightBrown;
      color: $white;
    }
  }
}
.header {
  // position: relative;
  background-color: $green;
  height: 160px;

  .logo {
    height: 100%;
    padding: 1.2rem 0;
    img {
      //   width: 120px;
      height: 100%;
    }
  }
  .navbar {
    .navbar-nav {
      .nav-link {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: $regularW;
        color: $white;
        @media (min-width: 1100px) {
          padding: 0.5rem 0.7rem;
        }
        @include trans(0.2s);
        &:hover {
          color: $lightBrown;
        }
      }
    }
    li.dropdown {
      position: static;
      .dropdown-menu {
        right: 0;
        left: auto;
        top: 100%;
        background: lighten($green, 2.2%);
        border-radius: 0;
        border: 0;
        padding: 2rem 2rem 2.8rem;
        margin: 0;
        // width: 90%;
        &.show {
          animation: fadeIn ease 0.5s;
        }
        @media (min-width: 1100px) {
          width: 85%;
        }
        a {
          display: block;
          color: $white;
          font-size: 18px;
          font-weight: $simiboldW;
          text-transform: uppercase;
          padding: 1rem;
          border-bottom: 1px $lightBrown solid;
          @include trans(0.3s);
          &:hover {
            background-color: $lightBrown;
            color: $green;
          }
        }
        @media (min-width: 1100px) {
          &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            right: -90%;
            top: 0;
            background-color: inherit;
            z-index: -1;
          }
        }
      }
    }
    .dropdown-toggle {
      position: relative;
      &:after {
        border: 0;
        width: 24px;
        height: 12px;
        position: relative;
        top: 5px;
        margin-left: 0.5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='12' viewBox='0 0 24 12'%3E%3Cg id='chevron_copy_2' data-name='chevron copy 2' transform='translate(24) rotate(90)'%3E%3Cpath id='Path' d='M11.188,10.012,1.583.275a.919.919,0,0,0-1.311,0,.945.945,0,0,0,0,1.326l9.606,9.737a.946.946,0,0,1,0,1.327L.271,22.4a.945.945,0,0,0,0,1.326.919.919,0,0,0,1.311,0l9.6-9.736A2.839,2.839,0,0,0,11.188,10.012Z' fill='%23bd9d7e'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    @media (max-width: 1100px) {
      .dropdown-toggle {
        &:after {
          position: absolute;
          right: 0;
        }
      }
      li.dropdown {
        &.show {
          .dropdown-toggle {
            &:after {
              position: absolute;
              right: 0;
              transform: rotate(-180deg);
            }
          }
        }
        .dropdown-menu {
          padding: 1rem 0.8rem;
        }
      }
    }
    .navbar-toggler {
      color: $lightBrown;
      border-color: $lightBrown;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28189,157,126' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
      &:focus,
      &:active {
        outline: none;
      }
      &[aria-expanded="true"] {
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewBox='0 0 24 18'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-3623 -5177)'%3E%3Crect id='Rectangle_1' data-name='Rectangle 1' width='24' height='18' transform='translate(3623 5177)' fill='none'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M0,0H19.111' transform='translate(3628.5 5193.014) rotate(-45)' fill='none' stroke='%23bd9d7e' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M0,0H19.111' transform='translate(3628.5 5179.5) rotate(45)' fill='none' stroke='%23bd9d7e' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
    }
    .navbar-collapse {
      @media (max-width: 1100px) {
        background-color: lighten($green, 2.2%);
        padding: 0 1rem;
        margin: 0 -15px;
      }
    }
  }
  @include trans(0.3s);
  &.scrolled {
    transition: all 0.3s ease;
    // transition-delay: 0.2s;
    height: 80px;
    margin-bottom: 20px;
    position: fixed;
    position: sticky;
    z-index: 1200;
    top: 0;
    left: 0;
    right: 0;
    .logo {
      padding: 0.65rem 0;
    }
  }
}
// Form styles
.btn {
  height: 3rem;
  font-size: 1.125rem;
  font-weight: $simiboldW;
  padding: 0 38px;
  text-transform: capitalize;
  border-radius: 6px;
}
.btn-secondary {
  color: $green;
}
.form-group {
  margin-bottom: rems(24);
}
.form-control {
  height: 3rem;
  font-size: 1.125rem;
  color: $green;
  border: 0;
  font-weight: normal;
}
// footer
footer,
.footer {
  padding: 3rem 0;
  background-color: $green;
  color: $white;
  ul.footer-links,
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 1rem 0.2rem;
      a {
        font-size: 1.125rem;
        font-weight: $lighterW;
        text-transform: capitalize;
        color: inherit;
        @include trans(0.3s);
        &:hover {
          color: $lightBrown;
        }
      }
    }
  }
  .newsLetter-wrapper {
    h3 {
      font-size: 1.5rem;
    }
    .form-control {
      margin-right: 2%;
      width: 68%;
      @media (min-width: 1100px) {
        max-width: 360px;
      }
    }
    .btn {
      width: 30%;
      padding: 0 2%;
      max-width: 165px;

      @media (max-width: 370px) {
        font-size: 0.95rem;
      }
    }
  }
  .footerLogo {
    a {
      margin: 0 0 auto auto;
      @media (max-width: 1100px) {
        margin-left: 0;
        margin-right: auto;
        justify-content: start !important;
      }
    }
    img {
      max-width: 100px;
    }
  }
  a {
    color: inherit;
  }
  .socialLinks {
    span {
      font-size: 1.5rem;
      font-weight: $simiboldW;
      text-transform: capitalize;
    }
    a {
      margin-left: 1.5rem;
      i.fab {
        font-size: 2rem;
      }
      @include trans(0.3s);
      &:hover {
        color: $lightBrown;
      }
    }
  }
  .copyright {
    p {
      font-weight: $regularW;
    }
  }
}

// home swiper
.home-swiper {
  height: 550px;
  height: calc(100vh - 310px);
  margin-top: -10px;
  .swiper-slide {
    background-size: cover;
    background-position: center 0;
  }
}

//Services-HomeLinks
.Services-HomeLinks {
  height: 150px;
  position: relative;
  z-index: 2;
  top: -110px;
  margin-bottom: -110px;
  .swiper-wrapper {
    @media (min-width: 1200px) {
      // justify-content: space-around;
    }
  }
  .home-linkbanner {
    display: flex;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.25);
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      @include trans(0.3s);
    }
    &--text {
      position: absolute;
      z-index: 2;
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.5rem;
      font-weight: $boldW;
      color: $white;
    }
    img {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include trans(0.3s);
    }
    &:hover {
      &:before {
        background-color: rgba(0, 0, 0, 0.15);
      }
      img {
        transform: scale(1.1);
      }
    }
  }
}

// HomeCards section
.top-shade-bg {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 60%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: rgba($lightBrown, $alpha: 0.5);
  }
}
.bottom-shade-bg {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 60%;
    height: 50%;
    top: 50%;
    left: 0;
    background-color: rgba($lightBrown, $alpha: 0.5);
  }
}
.HomeCards {
  margin-top: 70px;
  padding-bottom: 70px;
  &:after {
    height: calc(100% - 295px);
    top: 295px;
  }
  div[class^="col-"]:nth-child(1) {
    .card {
      background-color: $darkBrown;
    }
  }
  div[class^="col-"]:nth-child(2) {
    .card {
      background-color: $brown;
    }
  }
  div[class^="col-"]:nth-child(3) {
    .card {
      background-color: $yellow;
    }
    .card-body {
      color: $green;
    }
  }
  div[class^="col-"]:nth-child(odd) {
    .card {
      img {
        order: 0;
      }
    }
  }
  div[class^="col-"]:nth-child(even) {
    .card {
      img {
        order: 1;
        &.card-img-top {
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }
  .card {
    background-color: $brown;
    height: 614px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 2rem;
    @media (min-width: 1300px) {
      margin-bottom: 0;
    }
    .card-body {
      padding: 2rem;
      color: $white;
      display: flex;
      flex-direction: column;
    }
    .card-title {
      font-size: 1.5rem;
      font-weight: $boldW;
      text-transform: uppercase;
      max-width: 235px;
      color: inherit;
    }
    .card-text {
      font-size: 0.95rem;
      font-weight: $lightW;
      color: inherit;
    }
    img {
      height: 295px;
    }
    .card-img-top {
      border-radius: 8px 8px 0 0;
    }

    .morelnk {
      font-size: 1.125rem;
      font-weight: $lightW;
      color: inherit;
      margin-top: auto;
      margin-left: auto;
      @include trans(0.3s);
      i.chevron-right {
        transition: inherit;
        &:after {
          content: "";
          width: 12px;
          height: 22px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.667' height='21.333' viewBox='0 0 10.667 21.333'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-0.667 -0.333)'%3E%3Cg id='chevron' transform='translate(0.667 0.333)'%3E%3Cpath id='Path' d='M9.945,8.9,1.407.245a.817.817,0,0,0-1.165,0,.84.84,0,0,0,0,1.178l8.538,8.655a.841.841,0,0,1,0,1.179L.241,19.911a.84.84,0,0,0,0,1.178.817.817,0,0,0,1.165,0l8.537-8.654A2.523,2.523,0,0,0,9.945,8.9Z' fill='%23bd9d7e'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
            no-repeat center;
          display: inline-block;
          position: relative;
          top: 6px;
          margin-left: 1rem;
          transition: inherit;
        }
      }

      &:hover {
        color: $lightBrown;
        i.chevron-right {
          &:after {
            transform: translateX(5px);
          }
        }
      }
    }
  }
}
.btnWizArrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.667' height='21.333' viewBox='0 0 10.667 21.333'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-0.667 -0.333)'%3E%3Cg id='chevron' transform='translate(0.667 0.333)'%3E%3Cpath id='Path' d='M9.945,8.9,1.407.245a.817.817,0,0,0-1.165,0,.84.84,0,0,0,0,1.178l8.538,8.655a.841.841,0,0,1,0,1.179L.241,19.911a.84.84,0,0,0,0,1.178.817.817,0,0,0,1.165,0l8.537-8.654A2.523,2.523,0,0,0,9.945,8.9Z' fill='%23365029'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 80% center;
  padding-right: 3.5rem;
  @include trans(0.3s);
  &:hover {
    background-position: 85% center;
  }
}
.py-70 {
  padding: 70px 0;
}

// background colors
.green-bg {
  background-color: $green;
  color: $white;
}
.baige-bg {
  background-color: #fff6ed;
}
.white-bg {
  background-color: $white;
}

h1 {
  font-size: rems(48);
  font-weight: $simiboldW;
}
h2 {
  font-size: rems(40);
  font-weight: $simiboldW;
  text-transform: capitalize;
}
.HomeForm {
  p {
    @include fontsize(20);
    font-weight: $regularW;
    max-width: 732px;
  }
}

.HomeEvents {
}
.event-cal {
  .ui-datepicker-inline {
    width: 100%;
    height: 395px;
    border: 0;
    background: none;
    font-family: inherit;
    .ui-datepicker-header {
      border: 0;
      background: none;
      font-size: rems(20);
      font-weight: $simiboldW;
      color: $green;
      text-transform: uppercase;

      .ui-datepicker-prev,
      .ui-datepicker-next {
        background: none;
        border: 0;
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        cursor: pointer;
        &:hover {
          border: 1px rgba($lightBrown, $alpha: 0.5) solid;
        }
      }
      .ui-datepicker-prev {
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='17' viewBox='0 0 10 17'%3E%3Cpath id='Arrow_left' data-name='Arrow left' d='M8.37,17,0,8.5,8.37,0,10,1.545,3.152,8.5,10,15.455Z' fill='%23c9c9c9'/%3E%3C/svg%3E%0A");
      }
      .ui-datepicker-next {
        right: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='17' viewBox='0 0 10 17'%3E%3Cpath id='Arrow_left' data-name='Arrow left' d='M8.37,17,0,8.5,8.37,0,10,1.545,3.152,8.5,10,15.455Z' fill='%23c9c9c9'/%3E%3C/svg%3E%0A");
        transform: scaleX(-1);
      }
    }
    table.ui-datepicker-calendar {
      thead {
        border-bottom: 2px #f3f3f3 solid;
        font-family: inherit;
        th {
          font-family: inherit;
          font-size: rems(18);
          font-weight: $simiboldW;
          color: #999;
        }
      }
      td {
        padding: 5px 10px;
        font-size: rems(16);
        color: #000;
        a.ui-state-default {
          width: 40px;
          height: 40px;
          margin: auto;
          text-align: center;
          line-height: 2;
          border: 0;
          background: none;
          font-size: inherit;
          color: inherit;
          border-radius: 2px;
        }
        &.ui-datepicker-today {
          a.ui-state-highlight {
            background: #f4e8dc;
            font-weight: $simiboldW;
          }
        }
        &.ui-datepicker-current-day {
          a.ui-state-active {
            background: $lightBrown;
            font-weight: $simiboldW;
            color: $white;
          }
        }
      }
    }
  }
}
// animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import "mediaQuery";
