@charset "UTF-8";
@import "settings";
// put new css here
$lightGold: #DECEBE;
body.inner {
    min-height: 100vh;
    .inner-content {
        .aside {
            background-color: $lightGold;
            li {
                border-bottom: 1px $lightBrown solid;
            }
        }
        .media-content {
            .media-links {
                .media-item {
                    min-height: 190px;
                    position: relative;
                    overflow: hidden;
                    &:before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 50%;
                        left: -35px;
                        background: rgb(245, 245, 245);
                        height: 100%;
                        width: 32px;
                        border-radius: 32px;
                        transform: scale(1);
                        transform-origin: 50% 50%;
                        transition: transform 0.25s ease-out;
                    }
                    &:hover:before {
                        transform: scale(35);
                    }
                    .arrow {
                        position: relative;
                        left: 0;
                        transition: all 0.3s ease;
                    }
                }
                .media-item:hover {
                    .arrow {
                        margin-right: -10px;
                    }
                }
            }
        }
    }
}